In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [2]:
data_startup = pd.read_csv('50_Startups.csv')

In [3]:
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
36   28663.76       127056.21        201126.82     Florida   90708.19
27   72107.60       127864.55        353183.81    New York  105008.31
25   64664.71       139553.16        137962.62  California  107404.34
11  100671.96        91790.61        249744.55  California  144259.40
34   46426.07       157693.92        210797.67  California   96712.80
4   142107.34        91391.77        366168.42     Florida  166187.94
1   162597.70       151377.59        443898.53  California  191792.06

In [ ]:
# 1. Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean

In [18]:
1.
df = pd.DataFrame(data)
cols_with_missing = df.columns[df.isnull().any()].tolist()
for col in cols_with_missing:
    df[col] = df[col].fillna(df[col].mean())
print(df)

     R&D Spend  Administration  Marketing Spend       State         Profit
0   165349.200   136897.800000    471784.100000    New York  192261.830000
1   162597.700   151377.590000    443898.530000  California  191792.060000
2   153441.510   101145.550000    407934.540000     Florida  191050.390000
3   144372.410   118671.850000    383199.620000    New York  182901.990000
4   142107.340    91391.770000    366168.420000     Florida  166187.940000
5   131876.900    99814.710000    362861.360000    New York  156991.120000
6   134615.460   147198.870000    127716.820000  California  156122.510000
7   130298.130   122790.158298    323876.680000     Florida  155752.600000
8   120542.520   148718.950000    311613.290000    New York  152211.770000
9   123334.880   108679.170000    304981.620000  California  149759.960000
10   76788.862   110594.110000    229160.950000     Florida  146121.950000
11  100671.960    91790.610000    249744.550000  California  144259.400000
12   93863.750   127320.380000    249839.440000     Florida  141585.520000
13   91992.390   135495.070000    252664.930000  California  111850.855208
14  119943.240   156547.420000    256512.920000     Florida  132602.650000
15  114523.610   122616.840000    261776.230000    New York  129917.040000
16   78013.110   121597.550000    264346.060000  California  126992.930000
17   94657.160   145077.580000    282574.310000    New York  125370.370000
18   91749.160   114175.790000    294919.570000     Florida  124266.900000
19   86419.700   153514.110000    223582.690222    New York  122776.860000
20   76253.860   113867.300000    298664.470000  California  118474.030000
21   78389.470   153773.430000    299737.290000    New York  111313.020000
22   73994.560   122782.750000    303319.260000     Florida  110352.250000
23   76788.862   105751.030000    223582.690222     Florida  108733.990000
24   77044.010   122790.158298    140574.810000    New York  108552.040000
25   64664.710   139553.160000    137962.620000  California  107404.340000
26   75328.870   144135.980000    134050.070000     Florida  105733.540000
27   72107.600   127864.550000    353183.810000    New York  105008.310000
28   66051.520   182645.560000    118148.200000     Florida  103282.380000
29   65605.480   153032.060000    107138.380000    New York  101004.640000
30   61994.480   115641.280000     91131.240000     Florida   99937.590000
31   76788.862   152701.920000     88218.230000    New York  111850.855208
32   63408.860   129219.610000     46085.250000  California   97427.840000
33   55493.950   103057.490000    214634.810000     Florida   96778.920000
34   46426.070   157693.920000    210797.670000  California   96712.800000
35   46014.020    85047.440000    205517.640000    New York   96479.510000
36   28663.760   127056.210000    201126.820000     Florida   90708.190000
37   44069.950   122790.158298    197029.420000  California   89949.140000
38   20229.590    65947.930000    223582.690222    New York   81229.060000
39   38558.510    82982.090000    174999.300000  California   81005.760000
40   28754.330   118546.050000    172795.670000  California   78239.910000
41   27892.920    84710.770000    164470.710000     Florida   77798.830000
42   23640.930    96189.630000    148001.110000  California   71498.490000
43   15505.730   127382.300000     35534.170000    New York   69758.980000
44   22177.740   154806.140000     28334.720000  California   65200.330000
45    1000.230   124153.040000      1903.930000    New York   64926.080000
46    1315.460   115816.210000    297114.460000     Florida   49490.750000
47   76788.862   135426.920000    223582.690222  California   42559.730000
48     542.050    51743.150000    223582.690222    New York   35673.410000
49   76788.862   116983.800000     45173.060000  California   14681.400000

In [ ]:
# 2. lakukan oneHotEncoder ke field state

In [14]:
2.
df = pd.DataFrame(data)
df = pd.get_dummies(df, columns=['State'])
print(df)

    R&D Spend  Administration  Marketing Spend     Profit  State_California  \
0   165349.20       136897.80        471784.10  192261.83             False
1   162597.70       151377.59        443898.53  191792.06              True
2   153441.51       101145.55        407934.54  191050.39             False
3   144372.41       118671.85        383199.62  182901.99             False
4   142107.34        91391.77        366168.42  166187.94             False
5   131876.90        99814.71        362861.36  156991.12             False
6   134615.46       147198.87        127716.82  156122.51              True
7   130298.13             NaN        323876.68  155752.60             False
8   120542.52       148718.95        311613.29  152211.77             False
9   123334.88       108679.17        304981.62  149759.96              True
10        NaN       110594.11        229160.95  146121.95             False
11  100671.96        91790.61        249744.55  144259.40              True
12   93863.75       127320.38        249839.44  141585.52             False
13   91992.39       135495.07        252664.93        NaN              True
14  119943.24       156547.42        256512.92  132602.65             False
15  114523.61       122616.84        261776.23  129917.04             False
16   78013.11       121597.55        264346.06  126992.93              True
17   94657.16       145077.58        282574.31  125370.37             False
18   91749.16       114175.79        294919.57  124266.90             False
19   86419.70       153514.11              NaN  122776.86             False
20   76253.86       113867.30        298664.47  118474.03              True
21   78389.47       153773.43        299737.29  111313.02             False
22   73994.56       122782.75        303319.26  110352.25             False
23        NaN       105751.03              NaN  108733.99             False
24   77044.01             NaN        140574.81  108552.04             False
25   64664.71       139553.16        137962.62  107404.34              True
26   75328.87       144135.98        134050.07  105733.54             False
27   72107.60       127864.55        353183.81  105008.31             False
28   66051.52       182645.56        118148.20  103282.38             False
29   65605.48       153032.06        107138.38  101004.64             False
30   61994.48       115641.28         91131.24   99937.59             False
31        NaN       152701.92         88218.23        NaN             False
32   63408.86       129219.61         46085.25   97427.84              True
33   55493.95       103057.49        214634.81   96778.92             False
34   46426.07       157693.92        210797.67   96712.80              True
35   46014.02        85047.44        205517.64   96479.51             False
36   28663.76       127056.21        201126.82   90708.19             False
37   44069.95             NaN        197029.42   89949.14              True
38   20229.59        65947.93              NaN   81229.06             False
39   38558.51        82982.09        174999.30   81005.76              True
40   28754.33       118546.05        172795.67   78239.91              True
41   27892.92        84710.77        164470.71   77798.83             False
42   23640.93        96189.63        148001.11   71498.49              True
43   15505.73       127382.30         35534.17   69758.98             False
44   22177.74       154806.14         28334.72   65200.33              True
45    1000.23       124153.04          1903.93   64926.08             False
46    1315.46       115816.21        297114.46   49490.75             False
47        NaN       135426.92              NaN   42559.73              True
48     542.05        51743.15              NaN   35673.41             False
49        NaN       116983.80         45173.06   14681.40              True

    State_Florida  State_New York
0           False            True
1           False           False
2            True           False
3           False            True
4            True           False
5           False            True
6           False           False
7            True           False
8           False            True
9           False           False
10           True           False
11          False           False
12           True           False
13          False           False
14           True           False
15          False            True
16          False           False
17          False            True
18           True           False
19          False            True
20          False           False
21          False            True
22           True           False
23           True           False
24          False            True
25          False           False
26           True           False
27          False            True
28           True           False
29          False            True
30           True           False
31          False            True
32          False           False
33           True           False
34          False           False
35          False            True
36           True           False
37          False           False
38          False            True
39          False           False
40          False           False
41           True           False
42          False           False
43          False            True
44          False           False
45          False            True
46           True           False
47          False           False
48          False            True
49          False           False

In [ ]:
# 3. buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%

In [16]:
3.
df = pd.DataFrame(data)
df['Administration'].fillna(df['Administration'].mean(), inplace=True)
df['Tax'] = (df['Profit'] + df['Marketing Spend'] + df['Administration']) * 0.05
print(df)

    R&D Spend  Administration  Marketing Spend       State     Profit  \
0   165349.20   136897.800000        471784.10    New York  192261.83
1   162597.70   151377.590000        443898.53  California  191792.06
2   153441.51   101145.550000        407934.54     Florida  191050.39
3   144372.41   118671.850000        383199.62    New York  182901.99
4   142107.34    91391.770000        366168.42     Florida  166187.94
5   131876.90    99814.710000        362861.36    New York  156991.12
6   134615.46   147198.870000        127716.82  California  156122.51
7   130298.13   122790.158298        323876.68     Florida  155752.60
8   120542.52   148718.950000        311613.29    New York  152211.77
9   123334.88   108679.170000        304981.62  California  149759.96
10        NaN   110594.110000        229160.95     Florida  146121.95
11  100671.96    91790.610000        249744.55  California  144259.40
12   93863.75   127320.380000        249839.44     Florida  141585.52
13   91992.39   135495.070000        252664.93  California        NaN
14  119943.24   156547.420000        256512.92     Florida  132602.65
15  114523.61   122616.840000        261776.23    New York  129917.04
16   78013.11   121597.550000        264346.06  California  126992.93
17   94657.16   145077.580000        282574.31    New York  125370.37
18   91749.16   114175.790000        294919.57     Florida  124266.90
19   86419.70   153514.110000              NaN    New York  122776.86
20   76253.86   113867.300000        298664.47  California  118474.03
21   78389.47   153773.430000        299737.29    New York  111313.02
22   73994.56   122782.750000        303319.26     Florida  110352.25
23        NaN   105751.030000              NaN     Florida  108733.99
24   77044.01   122790.158298        140574.81    New York  108552.04
25   64664.71   139553.160000        137962.62  California  107404.34
26   75328.87   144135.980000        134050.07     Florida  105733.54
27   72107.60   127864.550000        353183.81    New York  105008.31
28   66051.52   182645.560000        118148.20     Florida  103282.38
29   65605.48   153032.060000        107138.38    New York  101004.64
30   61994.48   115641.280000         91131.24     Florida   99937.59
31        NaN   152701.920000         88218.23    New York        NaN
32   63408.86   129219.610000         46085.25  California   97427.84
33   55493.95   103057.490000        214634.81     Florida   96778.92
34   46426.07   157693.920000        210797.67  California   96712.80
35   46014.02    85047.440000        205517.64    New York   96479.51
36   28663.76   127056.210000        201126.82     Florida   90708.19
37   44069.95   122790.158298        197029.42  California   89949.14
38   20229.59    65947.930000              NaN    New York   81229.06
39   38558.51    82982.090000        174999.30  California   81005.76
40   28754.33   118546.050000        172795.67  California   78239.91
41   27892.92    84710.770000        164470.71     Florida   77798.83
42   23640.93    96189.630000        148001.11  California   71498.49
43   15505.73   127382.300000         35534.17    New York   69758.98
44   22177.74   154806.140000         28334.72  California   65200.33
45    1000.23   124153.040000          1903.93    New York   64926.08
46    1315.46   115816.210000        297114.46     Florida   49490.75
47        NaN   135426.920000              NaN  California   42559.73
48     542.05    51743.150000              NaN    New York   35673.41
49        NaN   116983.800000         45173.06  California   14681.40

             Tax
0   40047.186500
1   39353.409000
2   35006.524000
3   34238.673000
4   31187.406500
5   30983.359500
6   21551.910000
7   30120.971915
8   30627.200500
9   28171.037500
10  24293.850500
11  24289.728000
12  25937.267000
13           NaN
14  27283.149500
15  25715.505500
16  25646.827000
17  27651.113000
18  26668.113000
19           NaN
20  26550.290000
21  28241.187000
22  26822.713000
23           NaN
24  18595.850415
25  19246.006000
26  19195.979500
27  29302.833500
28  20203.807000
29  18058.754000
30  15335.505500
31           NaN
32  13636.635000
33  20723.561000
34  23260.219500
35  19352.229500
36  20944.561000
37  20488.435915
38           NaN
39  16949.357500
40  18479.081500
41  16349.015500
42  15784.461500
43  11633.772500
44  12417.059500
45   9549.152500
46  23121.071000
47           NaN
48           NaN
49   8841.913000

In [20]:
# 4. Jalankan standardScaler field-field tersebut

In [19]:
4.
df = pd.DataFrame(data)

# Menangani nilai yang hilang
imputer = SimpleImputer(strategy='mean')
df[['Administration', 'Marketing Spend']] = imputer.fit_transform(df[['Administration', 'Marketing Spend']])

# One-hot encoding untuk kolom "State"
df_encoded = pd.get_dummies(df, columns=['State'], drop_first=True)

# Pipeline untuk melakukan standarisasi dan preprocessing kolom numerik
numeric_features = ['R&D Spend', 'Administration', 'Marketing Spend']
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features)
    ])

# Menggabungkan preprocessing dengan model
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

# Transformasi data
df_scaled = pipeline.fit_transform(df_encoded)

# Menggabungkan hasil transformasi dengan kolom target (Profit)
df_scaled = pd.DataFrame(df_scaled, columns=numeric_features)
df_scaled['State'] = df_encoded['State_Florida']  # Ambil kolom State Florida sebagai contoh
df_scaled['Profit'] = df['Profit']  # Kolom target

print(df_scaled)

    R&D Spend  Administration  Marketing Spend  State     Profit
0    1.969800    5.543175e-01         2.299248  False  192261.83
1    1.908599    1.123258e+00         2.040926  False  191792.06
2    1.704943   -8.504601e-01         1.707769   True  191050.39
3    1.503224   -1.618166e-01         1.478634  False  182901.99
4    1.452843   -1.233706e+00         1.320863   True  166187.94
5    1.225293   -9.027514e-01         1.290227  False  156991.12
6    1.286206    9.590672e-01        -0.888067  False  156122.51
7    1.190178   -5.717739e-16         0.929087   True  155752.60
8    0.973189    1.018794e+00         0.815484  False  152211.77
9    1.035298   -5.544490e-01         0.754050  False  149759.96
10        NaN   -4.792072e-01         0.051675   True  146121.95
11   0.531219   -1.218034e+00         0.242354  False  144259.40
12   0.379787    1.780015e-01         0.243233   True  141585.52
13   0.338164    4.992015e-01         0.269407  False        NaN
14   0.959859    1.326391e+00         0.305054   True  132602.65
15   0.839314   -6.810023e-03         0.353811  False  129917.04
16   0.027230   -4.685997e-02         0.377617  False  126992.93
17   0.397435    8.757175e-01         0.546477  False  125370.37
18   0.332754   -3.384758e-01         0.660839   True  124266.90
19   0.214214    1.207206e+00         0.000000  False  122776.86
20  -0.011900   -3.505970e-01         0.695531  False  118474.03
21   0.035601    1.217395e+00         0.705469  False  111313.02
22  -0.062152   -2.910869e-04         0.738651   True  110352.25
23        NaN   -6.695015e-01         0.000000   True  108733.99
24   0.005675   -5.717739e-16        -0.768955  False  108552.04
25  -0.269671    6.586520e-01        -0.793153  False  107404.34
26  -0.032474    8.387201e-01        -0.829398   True  105733.54
27  -0.104123    1.993830e-01         1.200578  False  105008.31
28  -0.238825    2.351839e+00        -0.976707   True  103282.38
29  -0.248746    1.188265e+00        -1.078698  False  101004.64
30  -0.329063   -2.808938e-01        -1.226982   True   99937.59
31        NaN    1.175293e+00        -1.253967  False        NaN
32  -0.297604    2.526260e-01        -1.644272  False   97427.84
33  -0.473651   -7.753361e-01        -0.082890   True   96778.92
34  -0.675343    1.371439e+00        -0.118436  False   96712.80
35  -0.684508   -1.482987e+00        -0.167348  False   96479.51
36  -1.070421    1.676217e-01        -0.208023   True   90708.19
37  -0.727749   -5.717739e-16        -0.245980  False   89949.14
38  -1.258017   -2.233445e+00         0.000000  False   81229.06
39  -0.850337   -1.564139e+00        -0.450059  False   81005.76
40  -1.068406   -1.667595e-01        -0.470473  False   78239.91
41  -1.087566   -1.496216e+00        -0.547592   True   77798.83
42  -1.182141   -1.045188e+00        -0.700160  False   71498.49
43  -1.363087    1.804345e-01        -1.742014  False   69758.98
44  -1.214686    1.257972e+00        -1.808707  False   65200.33
45  -1.685725    5.355035e-02        -2.053552  False   64926.08
46  -1.678714   -2.740204e-01         0.681172   True   49490.75
47        NaN    4.965237e-01         0.000000  False   42559.73
48  -1.695916   -2.791579e+00         0.000000  False   35673.41
49        NaN   -2.281435e-01        -1.652722  False   14681.40