In [2]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [4]:
1.
def sort_company():
    companies = [
        {"name": "Company 1", "domain": "Retail"},
        {"name": "Company 2", "domain": "Construction"},
        {"name": "Company 3", "domain": "Healthcare"}
    ]
    sorted_companies = sorted(companies, key=lambda x: x['domain'], reverse=True)
    return sorted_companies

In [6]:
2.
def get_company_domain():
    companies = [
        {"name": "Company 1", "domain": "Retail", "relation": 2},
        {"name": "Company 2", "domain": "Construction", "relation": 3},
        {"name": "Company 3", "domain": "Healthcare", "relation": 4}
    ]
    for company in companies:
        print(f"{company['name']}: {company['domain']}, relation: {company['relation']}")

get_company_domain()

Company 1: Retail, relation: 2
Company 2: Construction, relation: 3
Company 3: Healthcare, relation: 4

In [8]:
3.
def get_employees():
    employees = [
        {"full_name": "John Doe", "company": "Company 1", "domain": "Retail"},
        {"full_name": "Tom Smith", "company": "Company 2", "domain": "Construction"},
        {"full_name": "Andrew Sebastian", "company": "Company 2", "domain": "Construction"}
    ]
    return employees

print(get_employees())

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [10]:
4.
def get_employees_by_company():
    employees = [
        {"full_name": "John Doe", "company": "Company 1"},
        {"full_name": "Tom Smith", "company": "Company 2"},
        {"full_name": "Andrew Sebastian", "company": "Company 2"},
        {"full_name": "Jane Doe", "company": "Company 1"}
    ]
    companies = {}
    for employee in employees:
        if employee['company'] not in companies:
            companies[employee['company']] = []
        companies[employee['company']].append(employee['full_name'])
    return [{"company": company, "employees": employees} for company, employees in companies.items()]

print(get_employees_by_company())

[{'company': 'Company 1', 'employees': ['John Doe', 'Jane Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}]